doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons-wind.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css')
  body
    nav.navbar.navbar-dark.bg-dark.static-top
      // Navbar content
      a.navbar-brand(href='index.html') Texas Parks Database
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
          a.nav-item.nav-link.active(href='index.html')
            | Home
            span.sr-only (current)
          
            <a class="nav-item nav-link" href="/allParks">Parks</a>
            <a class="nav-item nav-link" href="/allCampgrounds">Campgrounds</a>
            <a class="nav-item nav-link" href="/allVisitorCenters">Visitor Centers</a>
          a.nav-item.nav-link(href='about.html') About
    span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-item.nav-link.active(href='index.html')
          | Home
          span.sr-only (current)
        a.nav-item.nav-link(href='#') Parks
        a.nav-item.nav-link(href='#') Campgrounds
        a.nav-item.nav-link(href='#') Visitor Centers
        a.nav-item.nav-link(href='about.html') About
    // content
    .container
      h1#parkName.my-4= `${title}`
      .row
        //
          <div class="col-md-6" id="image">
          <img class="img-fluid" src="https://www.nps.gov/common/uploads/structured_data/3C84EF64-1DD8-B71B-0B44D9F693CAA78C.jpg" alt="">
          </div>
        #carouselExampleIndicators.carousel.slide.col-md-6(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
            li(data-target='#carouselExampleIndicators', data-slide-to='1')
            li(data-target='#carouselExampleIndicators', data-slide-to='2')
          .carousel-inner
            .carousel-item.active
              img.d-block.w-100(src='https://www.nps.gov/common/uploads/structured_data/3C84EF64-1DD8-B71B-0B44D9F693CAA78C.jpg', alt='First slide')
            .carousel-item
              img.d-block.w-100(src='https://www.nps.gov/common/uploads/structured_data/3C84F0B8-1DD8-B71B-0BE8B78FCC3B52A3.jpg', alt='Second slide')
            .carousel-item
              img.d-block.w-100(src='https://www.nps.gov/common/uploads/structured_data/3C84F209-1DD8-B71B-0B6AA2D4E9522573.jpg', alt='Third slide')
          a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next
        .col-md-6
          h4.my-3 Description
          p#description=`${description}`
      #row3.row
        .col-md-6
          h4 Park Info
          address
            p(style='padding-left: 20px;')
              b Phone:
              |  #{phoneNumber}
            p(style='padding-left: 20px;')
              b Email: 
              a(href='mailto:bibe_info@nps.gov') #{email}
            p(style='padding-left: 20px;')
              b Address: 
              br
              | #{address}
              br
              | #{cityState}
        .col-md-6
          h4 Directions
          p#directions For more information on directions, follow the link
          a.btn.btn-primary(style='margin-left: 20px;', href='http://www.nps.gov/bibe/planyourvisit/directions.htm') More Info
        //
          <h5>Campground Map</h5>
          <ul>
          <li>
          <a href="https://austinot.com/wp-content/uploads/2015/03/Austin-Greenbelt-Access-Points-Map.jpg">Map of entrances</a>
          </li>
          </ul>
      #row4.row
        .col-md-12
          h4.my-3 General Weather Details
          p#generalWeather
            | Variable-- February through April the park abounds with pleasant and comfortable temperatures.-- May through August is hot and can also be stormy. Temperatures regularly reach well over 100 degrees in the lower elevations and along the Rio Grande.-- September through January temperatures are cooler; the weather can quickly turn cold at any time during these months.
      #row5.row
        .col.map
          h3.my-3 Map
          // <img class="img-fluid" src="http://placehold.it/700x500" alt="">
          #map(style='height: 400px;')
            //
              <script>
              var map;
              function initMap() {
              var myLatLng = {lat: 30.2586, lng: -97.8242};
              var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 12,
              center: myLatLng
              });
              var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'Hello World!'
              });
              }
              </script>
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN3LuWqqwjKGG_ofNtT181WQNMAVaJnVs&callback=initMap"
              async defer></script>
        .col.weather
          h3.my-3 Weather
          // <img class="img-fluid" src="http://placehold.it/700x500" alt="">
          #weatherWidget(style='height: 400px;')
            .row.h-50.align-items-center.weather-first-row
              .col-sm-6(style='text-align: center;')
                h4#weather-summary.weather-data
                h1#weather-temperature.weather-data
                h3#weather-location.weather-data Austin, TX
              .col-sm-6(style='text-align: center;')
                i#icon-desc.wi
            .row.h-25.weather-info-rows
              .col-sm-6.weather-grid(style='border-right: 1px solid; border-bottom: 1px solid;')
                p(style='text-align: right;') Precipitation Probability
                .d-flex.justify-content-between.align-items-center
                  i.wi.wi-raindrops.weather-info-icons
                  p#preciProb
              .col-sm-6.weather-grid(style='border-left: 1px solid; border-bottom: 1px solid;')
                p(style='text-align: right;') Humidity
                .d-flex.justify-content-between.align-items-center
                  i.wi.wi-humidity.weather-info-icons
                  p#humidity
            .row.h-25.weather-info-rows
              .col-sm-6.weather-grid(style='border-top: 1px solid; border-right: 1px solid;')
                p(style='text-align: right;') Wind Speed
                .d-flex.justify-content-between.align-items-center
                  i.wi.wi-strong-wind.weather-info-icons
                  p#windSpeed
              .col-sm-6.weather-grid(style='border-left: 1px solid; border-top: 1px solid;')
                p(style='text-align: right;') UV Index
                .d-flex.justify-content-between.align-items-center
                  i.wi.wi-day-sunny.weather-info-icons
                  p#uvIndex
      // /.row
      #row6
        // Related Projects Row
        h3.my-4 Related Campgrounds
        .row
          .col-md-3.col-sm-6.mb-4
            a(href='#')
              img.img-fluid(src='http://placehold.it/500x300', alt='')
          .col-md-3.col-sm-6.mb-4
            a(href='#')
              img.img-fluid(src='http://placehold.it/500x300', alt='')
          .col-md-3.col-sm-6.mb-4
            a(href='#')
              img.img-fluid(src='http://placehold.it/500x300', alt='')
          .col-md-3.col-sm-6.mb-4
            a(href='#')
              img.img-fluid(src='http://placehold.it/500x300', alt='')
        // /.row
        // /.container
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
        script(type='application/javascript', src='darkSkyWeather.js')
        script(type='application/javascript', src='maps.js', defer='')
        