doctype html
html
  head
    title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons-wind.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css')
  body
    nav.navbar.navbar-dark.bg-dark.static-top
      // Navbar content
      a.navbar-brand(href='index.html') Texas Parks Database
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
          a.nav-item.nav-link.active(href='index.html')
            | Home
            span.sr-only (current)
          a.nav-item.nav-link(href='allParks.html') Parks
          a.nav-item.nav-link(href='allCampgrounds.html') Campgrounds
          a.nav-item.nav-link(href='allVisitorCenters.html') Visitor Centers
          a.nav-item.nav-link(href='about.html') About
    // content
    .container
      h1#Name.my-4=title
      .row
        #image.col-md-6
          img.img-fluid(src='https://austinot.com/wp-content/uploads/2015/03/barton-creek-greenbelt-1024x473.jpg', alt='')
        .col-md-6
          h4.my-3 Description
          p#description=`${description}`
      #row3.row
        .col-md-4
          h4 Center Info
          address
            p#phone(style='padding-left: 20px;')
              b Phone: 
              | #{phoneNumber}
            p#email(style='padding-left: 20px;')
              b Email: 
              a(href=`mailto:${email}`) #{email}
            p#address(style='padding-left: 20px;')
              b Address: 
              br
              | #{address}
              br
              | #{cityState}
            p(style='padding-left: 20px;')
              b Latitude/Longitude:
              br
              | Latitude: 
              span#Latitude=`${lat}`
              br
              | Longitude: 
              span#Longitude=`${lon}`
            p(style='padding-left: 20px;')
              b Park Code: 
              span#parkCode=parkCode
        .col-md-4
          h4 Operating Hours
          p#operatingHours
            b Monday: 
            span=` ${monday}`
            br
            b Tuesday:
            span=` ${tuesday}`
            br
            b Wednesday:
            span=` ${wednesday}`
            br
            b Thursday:
            span=` ${thursday}`
            br
            b Friday: 
            span=` ${friday}`
            br
            b Saturday: 
            span=` ${saturday}`
            br
            b Sunday: 
            span=` ${sunday}`
            br
        .col-md-4
          h4 Directions
          p#directions=directionsInfo
          a.btn.btn-primary(style='margin-left: 20px;', href=`${directionsUrl}`) More Info


      #row4.row
        .col.map
          h3.my-3 Map
          // <img class="img-fluid" src="http://placehold.it/700x500" alt="">
          #map(style='height: 400px;')
            //
              <script>
              var map;
              function initMap() {
              var myLatLng = {lat: 30.2586, lng: -97.8242};
              var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 12,
              center: myLatLng
              });
              var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              title: 'Hello World!'
              });
              }
              </script>
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN3LuWqqwjKGG_ofNtT181WQNMAVaJnVs&callback=initMap"
              async defer></script>
        .col.weather
          h3.my-3 Weather
          // <img class="img-fluid" src="http://placehold.it/700x500" alt="">
          #weatherWidget(style='height: 400px;')
            .row.h-50.align-items-center.weather-first-row
              .col-sm-6(style='text-align: center;')
                h4#weather-summary.weather-data
                h1#weather-temperature.weather-data
                h3#weather-location.weather-data Austin, TX
              .col-sm-6(style='text-align: center;')
                i#icon-desc.wi
            .row.h-25.weather-info-rows
              .col-sm-6.weather-grid(style='border-right: 1px solid; border-bottom: 1px solid;')
                p(style='text-align: right;') Precipitation Probability
                .d-flex.justify-content-between.align-items-center
                  i.wi.wi-raindrops.weather-info-icons
                  p#preciProb
              .col-sm-6.weather-grid(style='border-left: 1px solid; border-bottom: 1px solid;')
                p(style='text-align: right;') Humidity
                .d-flex.justify-content-between.align-items-center
                  i.wi.wi-humidity.weather-info-icons
                  p#humidity
            .row.h-25.weather-info-rows
              .col-sm-6.weather-grid(style='border-top: 1px solid; border-right: 1px solid;')
                p(style='text-align: right;') Wind Speed
                .d-flex.justify-content-between.align-items-center
                  i.wi.wi-strong-wind.weather-info-icons
                  p#windSpeed
              .col-sm-6.weather-grid(style='border-left: 1px solid; border-top: 1px solid;')
                p(style='text-align: right;') UV Index
                .d-flex.justify-content-between.align-items-center
                  i.wi.wi-day-sunny.weather-info-icons
                  p#uvIndex
      // /.row
      #row5
        // Related Projects Row
        h3.my-4 Related Campgrounds
        .row
          .col-md-3.col-sm-6.mb-4
            a(href='#')
              img.img-fluid(src='http://placehold.it/500x300', alt='')
          .col-md-3.col-sm-6.mb-4
            a(href='#')
              img.img-fluid(src='http://placehold.it/500x300', alt='')
          .col-md-3.col-sm-6.mb-4
            a(href='#')
              img.img-fluid(src='http://placehold.it/500x300', alt='')
          .col-md-3.col-sm-6.mb-4
            a(href='#')
              img.img-fluid(src='http://placehold.it/500x300', alt='')
        // /.row
        // /.container
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
        script(type='application/javascript', src='getLatLong.js')
        script(type='application/javascript', src='darkSkyWeather.js')
        script(type='application/javascript', src='maps.js', defer='')
        
